node_modules
vendor/matter.js/chip-testing/build/
vendor/matter.js/chip-testing/dist/
vendor/matter.js/codegen/build/
vendor/matter.js/codegen/dist/
vendor/matter.js/models/build/
vendor/matter.js/models/dist/
vendor/matter.js/packages/cli-tool/build/
vendor/matter.js/packages/cli-tool/dist/
vendor/matter.js/packages/create/build/
vendor/matter.js/packages/create/dist/
vendor/matter.js/packages/examples/build/
vendor/matter.js/packages/examples/dist/
vendor/matter.js/packages/general/build/
vendor/matter.js/packages/general/dist/
vendor/matter.js/packages/main/build/
vendor/matter.js/packages/main/dist/
vendor/matter.js/packages/matter.js/build/
vendor/matter.js/packages/matter.js/dist/
vendor/matter.js/packages/model/build/
vendor/matter.js/packages/model/dist/
vendor/matter.js/packages/node/build/
vendor/matter.js/packages/node/dist/
vendor/matter.js/packages/nodejs-ble/build/
vendor/matter.js/packages/nodejs-ble/dist/
vendor/matter.js/packages/nodejs-shell/build/
vendor/matter.js/packages/nodejs-shell/dist/
vendor/matter.js/packages/nodejs/build/
vendor/matter.js/packages/nodejs/dist/
vendor/matter.js/packages/protocol/build/
vendor/matter.js/packages/protocol/dist/
vendor/matter.js/packages/react-native/build/
vendor/matter.js/packages/react-native/dist/
vendor/matter.js/packages/testing/build/
vendor/matter.js/packages/testing/dist/
vendor/matter.js/packages/tools/build/
vendor/matter.js/packages/tools/dist/
vendor/matter.js/packages/types/build/
vendor/matter.js/packages/types/dist/
